/* Global Styles used through application */

    /* Font imports */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap');

    /* Margin & Padding reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #323232;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

/* Navbar */

#header, div .breadcrumbs {
    background-color: #323232;
    border-bottom: 1px solid #282828;
}

#header strong {
    font-weight: normal;
    font-style: italic;
}

.navbar-brand img {
    max-height: 3.2rem;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 1rem 0 1.5rem;
}

#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: #ffe279;
    color: #ffe279;
}

.toggle-nav-sidebar {
    background-color: #323232;
    color: #ebf2ff;
}

#nav-sidebar {
    border-right: 1px solid #282828;
    background-color: #323232;
}

/* Global Components ~ buttons */

.submit-row input {
    background: #764377;
}

.submit-row input.default {
    background: #5a305b;
}

.submit-row input:hover, .submit-row input:focus, .submit-row input:active {
    background: #5a305b;
}

.submit-row input.default:hover, .submit-row input.default:focus, .submit-row input.default:active {
    background: #512a52;
}

/* Main content ~ admin:index */

.dashboard #content {
    width: auto;
    margin-right: 0;
}

#content h1 {
    color: #ebf2ff;
    text-transform: capitalize;
    text-align: center;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #512a52;
}

th, td {
    background-color: #323232;
    color: #ebf2ff;
    border-bottom: 1px solid #ebf2ff;
}

a:link, a:visited {
    color: #ebf2ff;
}

#content-related {
    display: none;
}

/* Main Content ~ admin:group */

#content-main .module {
    background: transparent;
}

#content-main .module #toolbar {
    background: transparent;
}

#changelist #toolbar form #searchbar {
    color: #ebf2ff;
}

/* Main Content ~ admin:group/add */

.field-permissions label {
    color: #ebf2ff;
}

.selector-available #id_permissions_filter {
    background: transparent;
}

.related-widget-wrapper .selector .selector-available h2, .selector .selector-chosen h2 {
    background: #512a52;
    color: #ebf2ff;
}

/* Main Content ~ admin:user */

#changelist-search .quiet, #changelist-search a.quiet:link, #changelist-search a.quiet:visited {
    color: #ebf2ff;
}

#content-main #changelist .actions select {
    color: #ebf2ff;
    background: #323232;
}

#result_list thead th a:link, #result_list thead th a:visited {
    color: #ebf2ff;
}

.module #changelist-filter {
    background: transparent;
}

.module #changelist-filter #changelist-filter-clear a,
.module #changelist-filter h3,
.module #changelist-filter ul li a {
    color: #ebf2ff;
}

.module #changelist-filter ul li.selected a {
    color: #ffe279;
}

/* Main Content ~ admin:users/user */

.module .form-row label {
    color: #ebf2ff;
    font-weight: normal;
}

    /* Display none to easily hide the Groups and User Permission settings */
.field-groups, .field-user_permissions {
    display: none;
}

/* Main Content ~ admin:history */

#change-history thead tr th {
    background: #512a52;
    color: #ebf2ff;
}

/* Main Content ~ admin:workouts */

#changelist table thead th.action-checkbox-column,
#changelist table thead th {
    background-color: #512a52;
    color: #ebf2ff;
}

.results #result_list thead th a:focus, .results #result_list thead th a:hover {
    background: #462547;
}

.column-__str__ .text::after {
    content: 'Click this checkbox to select all.';
    display: inline-block;
    margin: 0 0.5rem 0.5rem;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
}

.main #changelist .actions, #content-main .module .paginator {
    background-color: #323232;
    color: #ebf2ff;
}

#content-main .object-tools a, #content-main .object-tools a {
    background-color: #512a52;
    padding-top: 4px;
}

#content-main .object-tools a:focus, #content-main .object-tools a:hover {
    background-color: #744275;
}

.success a {
    color: #212121;
}

/* Main Content ~ admin:workouts/workout */

#workout_form .module {
    background: transparent;
}

.module .form-row label.required {
    color: #ebf2ff;
    font-weight: normal;
}

.module input, .module textarea, .module select {
    background: #393939;
    color: #ebf2ff;
}

span.timezonewarning {
    font-style: italic;
    color: #ebf2ff;
    margin-top: 5px;
    text-decoration: underline;
    display: inline-block;
}

#content-main .submit-row {
    background: transparent;
    border: none;
}

/* Media Queries */

@media (min-width: 1025px) {

    /* Navbar */
    .navbar-brand img {
        margin: 1rem 0;
    }

    /* Main content ~ admin:index */
    #content h1 {
        text-align: left;
    }
}
