/* Global Styles used through application */

    /* Font imports */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap');

    /* Margin & Padding reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #323232;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

/* Navbar */

    /* Custom Navbar BG color theme */
.bg-custom {
    background-color: #323232;
    border-bottom: 1px solid #282828;
}

.navbar-brand img {
    height: 3.2rem;
}

    /* Navbar links set to default primary color using specificity */
.navbar .navbar-nav .nav-link {
    color: #ebf2ff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffe279;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #ffe279;
}

.navbar .navbar-toggler {
    border-color: transparent;
}

/* Footer */

footer {
    background-color: #323232;
    min-height: 3rem;
    border-top: 1px solid #282828;
}

footer .row {
    margin: auto 0;
}

.additional-links-footer {
    margin-bottom: 0;
}

.additional-link {
    margin-bottom: 0.5rem;
    list-style: none;
}

.additional-link a {
    color: #ebf2ff;
}

.additional-link a:hover {
    color: #ffe279;
    text-decoration: none;
}

.dev-note {
    margin: auto 0;
}

.brand-note p {
    color: #ebf2ff;
}

.socials {
    margin: auto 0;
}

.social-links {
    margin-bottom: 0.5rem;
}

.social-links li a i{
    color: #ebf2ff;
    font-size: 1.5rem;
    margin: auto 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    color: #ffe279;
    font-size: 1.6rem;
}

/* Global page elements */

.content {
    margin-top: 77px;
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
}

.brand-img {
    margin: 1rem 0 2rem;
}

    /* Bootstrap components custom styling */
    /* Cards styled inline with Application theme */
.card {
    background-color: #323232;
    margin: 3rem 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 15px 0 rgba(140, 140, 140, 0.1), 10px 10px 15px 0 rgb(40, 40, 40);
    box-shadow: -10px -10px 15px 0 rgba(140, 140, 140, 0.1), 10px 10px 15px 0 rgb(40, 40, 40);
    border: none;
    /* border-box clip path used to prevent background protruding past child elements */
    background-clip: border-box;
}

.card-header:first-child {
    border-radius: 1rem 1rem 0 0;
}

.card-title {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 1rem;
}

.card-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 30%;
    margin: 5px auto;
    background: #efeeee;
}

.card-body {
    font-family: "Lato", sans-serif;
}

.card-list {
    padding-left: 2.5rem;
}

/* Index page */

.welcome-landing {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.welcome-img {
    background: url("../img/crossfit.jpg") center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
}

.welcome-txt {
    color: #f8f8f8;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
    padding: 0.3rem 1rem;
    border: 1px solid rgba(255,255,255, 0.7);
    border-radius: 0.5rem;
    animation: fadeIn 1s ease-in;
}

.welcome-txt::after {
    content: '';
    display: block;
    height: 2px;
    width: 40%;
    margin: 5px auto;
    background: #ffe279;
    border-bottom: 1px solid #000000;
    animation: moveInRight 2s ease-in-out;
}

/* Accessibility & Privacy Policy Pages */

.card-subtitle {
    font-family: "Roboto Condensed", sans-serif;
    margin: 1rem 0;
}

/* Keyframe animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    70% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Media queries */

@media (min-width: 768px) {
    .brand-note {
        position: relative;
    }

    .brand-note p {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
