{% extends 'base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="page-title">{{ user }}'s Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="page-desc">Below you will find your scheduled workout for today.</p>
                    <p class="page-desc">From us at PHP-Athlete thank you using our platform!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center brand-img">
                    <img src="{% static 'img/logo.png' %}" alt="PHP logo" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="container workouts">
            {% if workouts %}
                <div class="row workouts-row">
                    <div class="col-sm-12">
                        <h2 class="page-subtitle text-center">Today's Workout</h2>
                    </div>
                </div>
                {% for workout in workouts %}
                    <div class="col-sm-12">
                        <div class="card card-workout">
                            <div class="card-body card-workout-body">
                                <p class="card-workout-header">Coach: {{ workout.coach }}</p>
                                <p class="card-workout-title">Title: {{ workout.title|truncatechars:30 }}</p>
                                <p>{{ workout.part_a }}</p>
                                <p>{{ workout.part_b }}</p>
                                <p>{{ workout.part_c }}</p>
                                <p>{{ workout.coach_comments }}</p>
                                <small class="card-workout-details text-muted">{{ workout.category|capfirst }} - {{ workout.workout_date|date:'D d/m/Y' }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-12 text-center">
                    <p class="page-desc">No Workouts to show.</p>
                </div>
            {% endif %}
        </div>
    {% else %}
       {% include 'partials/_error.html' %}
    {% endif %}
{% endblock %}